
.red-border { border-style:solid; border-color:red; }

.row {
  display: flex;
  flex-direction: row;
  width:fit-content;
}

.column {
  display: flex;
  flex-direction: column;
  width:fit-content;
  /* padding-right:20px; */
  /* border-style:solid; border-color:red; */
}

.right-space-20 {
    margin-right:20px;
}

/* Heading styling */
/*-----------------*/

.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  border-collapse: collapse;
  min-width:25em;
  max-width:100em;
  white-space:nowrap;
  margin:10px 50px;
}

/* Search form */ 
/*-------------*/

.search_form {
    margin-left:50px;
    margin-bottom:20px;
}

.search_form input {
    height:25px;
    margin-bottom:0px;
}

.search_form select {
  width: 100%;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  height:25px;
  margin-bottom:0px;
}

/* Gallery list styling */
/*----------------------*/

/* The gallery list table */
.gallery-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  border-collapse: collapse;
  min-width:25em;
  max-width:100em;
  white-space:nowrap;
  margin-top:10px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
	     
}

.gallery-list td, .gallery-list th {
  border: 1px solid #bbb;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gallery-list td:first-child {
    width:1px;
}

.gallery-list tr:nth-child(even){background-color: #f2f2f2;}

.gallery-list tr:hover {background-color: #ddd;}

.gallery-list th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #8fc3f5 /* hsl(220, 100%, 90%) */;
  color: black;
  font-weight:normal;
  font-size: 1.1em;
}

/* Image carousel styling */
/*------------------------*/

.ahx-carousel {
    width: 100vw;
    height: 100vh;
    position:relative;
    touch-action:none; /* otherwise onpointerup does not fire on mobile devices */
}

.ahx-carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ahx-slide.ahx-active {
    opacity: 1;
    z-index: 1;
    /* Fade in starts immediately to blend images during transition */
    transition-delay: 0ms;  
}

.ahx-slide {
    display:block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position:center;

    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    /* Fade out starts with a delay to blend images during transition */
    transition-delay: 200ms;  
} 

/* Exit carousel button (x) */
/*--------------------------*/

.ahx-x {
    position:absolute;
    z-index: 2;
    background:none; 
    border:none;
    font-size: 2rem;
    top:5%;
    left:1rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 1.0rem;
    background-color: rgba(0, 0, 0, .3) 	     
}

/* Img number k/n */
/*----------------*/

.ahx-imgnum {
    position:absolute;
    z-index: 2;
    background:none; 
    border:none;
    font-size: 2rem;
    top:5%;
    left:50%;
    transform: translateX(-50%);
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3) 	     
}

/* Prev and Next button */
/*----------------------*/

.ahx-carousel-button {
    position:absolute;
    z-index: 2;
    background:none;
    border:none;
    font-size: 4rem;
    top:50%;
    transform: translateY(-50%);
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3) 	     
}

.ahx-carousel-button:hover {
    color:white;
    background-color: rgba(0, 0, 0, .2)
}

.ahx-carousel-button.ahx-prev {
    left: 1rem;
}

.ahx-carousel-button.ahx-next {
    right: 1rem;
}
