
.red-border { border-style:solid; border-color:red; }
.green-border { border-style:solid; border-color:green; }
.blue-border { border-style:solid; border-color:blue; }

/* flask flashed msgs */
.message { color:green; }
.error { color:red; } 

.linkbtn {
    background-color:transparent;
    text-decoration:underline;
    border:0;
    color: #293b81;
    margin:auto;
}

.linkbtn:hover {
  color: #3280ec; 
}

a:link {
  color: #293b81;
}

a:visited {
  color: #293b81;
}

a:hover {
  color: #3280ec; 
}

a:active {
  color: #3280ec;
}

/* Form input fields */
.centered-form-elt {
    margin: 0 auto 10px auto;
}

.centered-form-label {
    margin: 0 auto 0px auto;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

/* 
   Three columns. The middle one will be centered. 
   Normally, the outer ones are empty. 
*/
.center-div {
    display:grid;
    grid-template-columns:1fr fit-content(100%) 1fr;
}


/* Gallery search form */ 
/*---------------------*/

.search-form {
    margin-left:50px;
    margin-bottom:20px;
}

.search-form input {
    height:25px;
    margin-right:10px;
}

.search-form-mobile {
    margin-left:5vw;
    margin-bottom:2vh;
}

.search-form-mobile input {
    height:25px;
    margin-right:10px;
}

/* Gallery list styling */
/*----------------------*/
/* .gallery-list-cell:hover { background-color: #ddd; } */
.gallery-list-row { display:contents; } /* Wrapper to make table row selectable */
.gallery-list-row:nth-child(odd) > div {background-color: #f0f0f0;}
.gallery-list-row:hover > div  { background-color: #ddd; }
.gallery-list-cell {
    display:grid;
    border: 1px solid #bbb;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Gallery styling */
/*-----------------*/

.gallery-table {
    /* width:100%; */
    max-width:1500px;
    margin-left:50px;
    margin-right:50px;
}

.gallery-thumb {
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}

/* Image carousel styling */
/*------------------------*/

.ahx-carousel {
    width: 100vw;
    height: 100vh;
    position:relative;
    touch-action:none; /* otherwise onpointerup does not fire on mobile devices */
}

.ahx-carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ahx-slide.ahx-active {
    display:block;
    opacity: 1;
    z-index: 1;
    /* Fade in starts immediately to blend images during transition */
    transition-delay: 0ms;  
}

.ahx-slide.ahx-loaded {
    display:block; /* vicinity of active slide gets display:block */
}

.ahx-slide {
    display:none; /* Browser will crash on ios if too many with diplay:block */
    width: 100%;
    height: 100%;
    object-fit: contain; /* scale-down; */
    object-position:center;

    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    /* Fade out starts with a delay to blend images during transition */
    transition-delay: 200ms;  
} 

/* Prev and Next button */
/*----------------------*/
.ahx-carousel-button {
    position:absolute;
    z-index: 2;
    background:none;
    border:none;
    font-size: 4rem;
    top:50%;
    transform: translateY(-50%);
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .3) 	     
}

.ahx-carousel-button:hover {
    color:white;
    background-color: rgba(0, 0, 0, .2)
}

.ahx-carousel-button.ahx-prev {
    left: 1rem;
}

.ahx-carousel-button.ahx-next {
    right: 1rem;
}

/* Exit carousel button (x) */
/*--------------------------*/
.ahx-x {
    position:absolute;
    z-index: 2;
    background:none; 
    border:none;
    font-size: 2rem;
    top:5%;
    left:1rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 1.0rem;
    background-color: rgba(0, 0, 0, .3); 	     
}

/* Img number k/n */
/*----------------*/
.ahx-imgnum {
    display:inline;
    background:none; 
    border:none;
    font-size: 2rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: .45rem .55rem;
    margin: 0 .5rem;
    background-color: rgba(0, 0, 0, .3); 	     
}

/* Toggle image caption */
/*----------------------*/
.ahx-captoggle {
    display:inline;
    background:none; 
    border:none;
    font-size: 2rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: .45rem .55rem;
    margin: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);	     
}

/* Download image button */
/*-----------------------*/
.ahx-download {
    display:inline;
    background:none; 
    border:none;
    font-size: 2rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: .45rem 1.0rem;
    margin: 0 .5rem;
    background-color: rgba(0, 0, 0, .3);	     
}

/* 
Image caption. 
Position and size is set in AHXCarousel._positionImgCaption()
*/
/*---------------*/
.ahx-caption {
    position:absolute; 
    z-index:10;
    display:inline; 
    overflow:auto;
    background:none; 
    border:none;
    font-size: 2rem;
    color: rgba(255,255,255, .7);
    cursor: pointer;
    border-radius: .25rem;
    padding: .45rem 1.0rem;
    /* margin: 0 .5rem; */
    background-color: rgba(0, 0, 0, .5);	     
}
