<!DOCTYPE HTML>


<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='ahx-pics'>
    <meta name='keywords' content='Photo Viewer'>
    <meta name='author' content='Andreas Hauenstein'>

    <title>AHX Pics</title>
    <link rel='icon' href='static/images/world_100.png' type='image/ico' />
    <link rel='shortcut icon' href='static/images/world_100.png' type='image/ico' />

    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/base.css") }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="css/styles.css") }}'>
  </head>

  <body>
    <section>
      <div id='ahx-carousel' class='ahx-carousel' style='width:100%'>
        <button class='ahx-carousel-button ahx-prev'>&#x21e6;</button>
        <button class='ahx-carousel-button ahx-next'>&#x21e8;</button>
        <button class='ahx-download'>&#x2193;</button>
        <div class='ahx-imgnum'> 1/3 </div>
        <div class='ahx-x'>&#x2715;</div>
        <ul>
          {{ images|safe }}
        </ul>
      </div>
    </section>

    <script src='static/js/AHXHelpers.js')> </script>
    <script src='static/js/AHXCarousel.js')> </script>
    <script>
     _ = new AHXCarousel('#ahx-carousel', '{{gallery_id}}', '{{picture_id}}')
    </script>
  </body>
</html>



