{% extends 'layout.html' %}

{% block js %}
<script src='static/js/edit_pics.js'> </script>
{% endblock js %}

{% block content %}

<form style='margin-left:50px;' method=post>
  <input id=marked_pic_ids type=hidden name=marked_pic_ids>
  <input id=btn_save type=submit name=save_changes value='Save Changes' disabled >
  <input id=btn_del type=submit name=del_selected value='Delete selected' disabled >
  <div class=ahx-container style='display:grid; grid-template-columns:33.3% 33.3% 33.3%; max-width:1000px;'>
    {{ picdivs|safe }}
  </div>
</form>

{% endblock content %}

<!-- ============================ CSS ======================================= -->

{% block css %}
<style>
 .red-border { border-style:solid; border-color:red; }
 .green-border { border-style:solid; border-color:green; }
 .blue-border { border-style:solid; border-color:blue; }

 .ahx-pic > img { border-style:solid; border-color:white; }
 .ahx-pic > .ahx-selected { border-style:solid; border-color:red; }

 .ahx-container {
   background-color:#333;
   padding:1rem;
   margin-top:1rem;
 }
 .ahx-draggable {
   padding:1rem;
   margin:1rem;
   background-color:white;
   border: 1px solid black;
   cursor:move;
   margin:10px;
   display:grid;
   grid-template-rows: 1fr 100px;
 }
 .ahx-draggable.ahx-dragging {
   opacity:0.5;
 }

 .ahx-ta {
   resize:none;
   width:100%;
 }
</style>
{% endblock css %}

<!-- ============================ JS ======================================= -->

{% block js_end %}
<script> 
 setupSelect()
 setupDragging()
</script>
{% endblock js_end %}




