<!DOCTYPE HTML>

{% block pre %}
<script type='text/javascript'>
 /* Filename: mod_ahx_pics/templates/layout.tmpl
  * Author: AHN
  * Creation Date: Jan, 2023
  */
</script>
{% endblock pre %}

<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='Carousel'>
    <meta name='keywords' content='Photo Viewer Demo'>
    <meta name='author' content='Andreas Hauenstein'>

    <title>AHX Pics</title>
    <link rel='icon' href='static/images/world_100.png' type='image/ico' />
    <link rel='shortcut icon' href='static/images/world_100.png' type='image/ico' />

    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/base.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/styles.css') }}'>

    {% block css %}
    {% endblock css %}

    <script src='static/js/AHXHelpers.js'> </script>
    {% block js %}
    {% endblock js %}
  </head>

  <body>
    <!-- Page Heading -->
    <div style='display:grid;
                grid-template-columns: fit-content(50%) fit-content(50%);
                margin-left:40px; margin-bottom:5px;'>
      <div style='height:8vh'>
        <a href="{{ url_for('index') }}">
          <img height=100% src='static/images/world_500.png' style='margin:auto 0;'>
        </a>
      </div>
      <div style='padding-left:15px;margin:auto 0;'>
        <span style='font-size: 1.5em;'>Picture Galleries</span>
      </div>
    </div>

    <!-- Links at the top -->
    <div style='margin-left:50px;margin-bottom:10px;'>
      {% if logged_in() %}
      <a href="{{ url_for('logout') }}">Log out</a>
      {% else %}
      <a href="{{ url_for('login') }}">Log in</a>
      {% endif %}
    </div>

    {% block content %}
    {% endblock content %}

    
  </body>
</html>
