{% extends 'layout.html' %}

{% block content %}
<div class='ahx-mob-or-desk' style='max-width:500px;'>
  <div style='min-height:30px;color:red;'>
    {% if error %}
    <strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
  <form method=post>
    <div style='width:100%;display:grid;
                grid-template-columns: fit-content(50%) 1fr;'>

      <div style='margin-bottom:10px;'>Title:</div>
      <div style='width:95%;'><input type=text name=title value='{{title}}' style='width:100%;'></div> 

      <div style='margin-bottom:10px;'>Private:</div>
      <div><input type=checkbox name=private_flag></div> 
      <div style='margin-top:10px'><input type=submit value='Create'></div>
    </div>
  </form>
</div>

{% endblock content %}
