{% extends 'layout.html' %}

{% block js %}
<script src="static/js/dropzone.min.js"></script>
<link rel="stylesheet" href="static/js/dropzone.min.css" type="text/css" /> 
{% endblock js %}

{% block content %}
<div class=ahx-mob-or-desk>
  <div style='min-height:30px;color:red;'>
    {% if error %}
    <strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
  <div style='display:grid;justify-items:center;'>
    <div class=heading>
      Upload Images and Videos for Gallery '{{gallery_title}}'
    </div>
    <div style='margin-bottom:50px;'>
    You can upload individual images or videos, or zip files containing collections of images or videos.
    </div>
    <form action='upload_pics' method=post enctype=multipart/form-data class='dropzone' style='width:100%;'>
    </form>
    <form action='gallery' method=get style='margin-top:20px;' >
          <input type=hidden name=gallery_id value={{gallery_id}}>
          <input type=submit value=Done > 
    </form>
  </div>
</div>

  {% endblock content %}
