{% extends 'layout.html' %}

{% block js %}
<script src="static/js/dropzone.min.js"></script>
<link rel="stylesheet" href="static/js/dropzone.min.css" type="text/css" />
{% endblock js %}

{% block content %}
{% if is_mobile() %}

<!-- Mobile phone version -->
<!-- ==================== -->

<div class=ahx-mob-or-desk style='width:90vw;'>
  <div style='min-height:30px;color:red;'>
    {% if error %}
    <strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
  <div style='display:grid;justify-items:center;'>
    <form id=textform action=edit_title method=post>
      <div style='margin-bottom:30px;margin-right:5px'>
        <input type=text name=title value='{{gallery_title}}' size=40>
      </div>
    </form>
  </div>
  <div style='display:grid;justify-items:center;'>
    <form id=picform action=edit_title method=post enctype=multipart/form-data class='dropzone' style='width:100%;'>
      <div class=dz-message data-dz-message>Click to select title image</div>
    </form>
  </div>
  <div style='display:grid;justify-items:left;margin-top:10px;'>
    <span style='width:100%;margin:0;padding:0;'>
      <input style='width:100%;margin:0;padding:0;' form=textform type=text name=caption placeholder='Image Caption'
        value='{{caption}}'>
    </span>
  </div>

<!--   
  <div style='margin-left:0; margin-top:10px;'>
    <div>
      <input type="checkbox" form=textform id="cb_show_tpic" name="cb_show_tpic"  {% if show_tpic %}checked{%
        endif %}>
      <label for="cb_show_tpic">Show title pic in gallery</label>
    </div>
  </div> -->

  <textarea name=blurb form=textform rows=5 style='margin-top:20px;width:100%;resize:none;'
    placeholder='Elaborate essay about the purpose of this gallery. This will be displayed at the top of the page.'>{{blurb}}</textarea>

  <div style='margin-top:10px;'>
    <div style='display:grid; grid-template-columns:1fr 1fr; margin:0 5vw;'>
      <div>
        <div>
          <input type="radio" form=textform id="rd_private" name="access" value="private" {% if access=="private" %}checked{%
            endif %}>
          <label for="rd_private">Private</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_members" name="access" value="members" {% if access=="members" %}checked{%
            endif %}>
          <label for="rd_members">Members only</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_public" name="access" value="public" {% if access=="public" %}checked{%
            endif %}>
          <label for="rd_public">Public</label>
        </div>
      </div>

      <div style='margin-left:10px'>
        <div>
          <input type="radio" form=textform id="rd_single" name="layout" value="single_column" {% if layout=="single_column" %}checked{%
            endif %}>
          <label for="rd_single">Single column</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_double" name="layout" value="double_column" {% if layout=="double_column" %}checked{%
            endif %}>
          <label for="rd_double">Double column</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_multi" name="layout" value="multi_column" {% if layout=="multi_column" %}checked{%
            endif %}>
          <label for="rd_multi">Multi column</label>
        </div>

      </div>
    </div>
  </div>

  <div style='display:grid;justify-items:center;'>
    <span>
      <input type=submit form=textform name=save value=Save style='margin-top:20px;margin-right:10px;'
        class='ahx-submit-button'>
      <input type=submit form=textform name=cancel value=Cancel style='margin-top:10px;' class='ahx-submit-button'>
    </span>
  </div>
</div>

{% else %}

<!-- Desktop version -->
<!-- =============== -->
<div class=ahx-mob-or-desk style='max-width:600px;'>
  <div style='min-height:30px;color:red;'>
    {% if error %}
    <strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
  <div style='display:grid;justify-items:center;'>
    <form id=textform action=edit_title method=post>
      <div style='margin-bottom:40px;margin-right:5px'>
        <input type=text name=title value='{{gallery_title}}' size=40>
      </div>
    </form>
  </div>
  <div style='display:grid;justify-items:center;'>
    <form id=picform action=edit_title method=post enctype=multipart/form-data class='dropzone' style='width:100%;'>
      <div class=dz-message data-dz-message>Click, or drop new title image here</div>
    </form>
  </div>
  <div style='display:grid;justify-items:left;margin-top:10px;'>
    <span style='width:100%;margin:0;padding:0;'>
      <input style='width:100%;margin:0;padding:0;' form=textform type=text name=caption placeholder='Image Caption'
        value='{{caption}}'>
    </span>
  </div>

  <!-- <div style='margin-left:0;margin-top:10px;'>
    <div>
      <input type="checkbox" form=textform id="cb_show_tpic" name="cb_show_tpic" {% if show_tpic %}checked{%
        endif %}>
      <label for="cb_show_tpic">Show title pic in gallery</label>
    </div>
  </div> -->

  <textarea name=blurb form=textform rows=25 style='margin-top:20px;width:100%;resize:none;'
    placeholder='Elaborate essay about the purpose of this gallery. This will be displayed at the top of the page.'>{{blurb}}</textarea>

  <div style='margin-top:10px;'>
    <div style='display:grid; grid-template-columns:1fr 1fr; width:80%; margin:0 auto;'>
  
      <div>
        <div>
          <input type='radio' form=textform id='rd_private' name='access' value='private' class='ahx-radio' {% if
            access=='private' %}checked{% endif %}>
          <label for='rd_private'>Private</label>
        </div>
        <div>
          <input type='radio' form=textform id='rd_members' name='access' value='members' class='ahx-radio' {% if
            access=='members' %}checked{% endif %}>
          <label for='rd_members'>Members only</label>
        </div>
        <div>
          <input type='radio' form=textform id='rd_public' name='access' value='public' class='ahx-radio' {% if
            access=='public' %}checked{% endif %}>
          <label for='ed_public'>Public</label>
        </div>
      </div>
      
      <div style='margin-left:10px'>
        <div>
          <input type="radio" form=textform id="rd_single" name="layout" value="single_column" {% if
            layout=="single_column" %}checked{% endif %}>
          <label for="rd_single">Single column</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_double" name="layout" value="double_column" {% if
            layout=="double_column" %}checked{% endif %}>
          <label for="rd_double">Double column</label>
        </div>
        <div>
          <input type="radio" form=textform id="rd_multi" name="layout" value="multi_column" {% if layout=="multi_column"
            %}checked{% endif %}>
          <label for="rd_multi">Multi column</label>
        </div>
      </div>
    </div>
  
    <div style='display:grid;justify-items:center;margin-top:10px;'>
      <span>
        <input type=submit form=textform name=save value=Save style='margin-top:10px;margin-right:10px;'
          class='ahx-submit-button'>
        <input type=submit form=textform name=cancel value=Cancel style='margin-top:10px;' class='ahx-submit-button'>
      </span>
    </div>
  </div>

{% endif %}

{% endblock content %}